<head>
    <!--Simple.css-->
    <link rel="stylesheet" href="https://bayanbox.ir/download/2493301668837396362/simple.min.css">
</head>
<!-- category/todo_app/templates/todo_app/todo_list.html -->
{% extends "base.html" %}

{% block content %}
<div>
    <h5>{{ author_name|upper}} : {{ len }}</h5>
</div>

<div>
    <div>
        <ul>
            {% for todo in object_list %}
            <li>
                        {{ todo.title }}
                        | {{ todo.get_status_display }} 
                        | {{ todo.author }}
                        | Score: {{ todo.score }}

            </li>
            {% empty %}
            <p>There are no texts in this department.</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
